.Player {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  background: rgba(180,180,180, 0.9);
  bottom: 0;
  width: 100%;
}
.Player_title {
  align-items: flex-start;
  width: 100%;
}
.Player_buttons {
  align-items: center;
  justify-content: center;
  width: 100%;
}
